# .gitignore
# don't push these files to the repository

.history
*.DS_Store
*.log
*.eml
*.o
*.a
*.d
*.elf
*.s19
*.map
*.bin
*.dll
*.sym
*.lss
*.wsdt
*.cspy*
*.xcl*
*.pbd*
*.pbi*
Firmware/Chameleon-Mini/*.hex
Firmware/Chameleon-Mini/*.eep
Firmware/Atmel-DFU-Bootloader/common/*.hex
Firmware/Atmel-DFU-Bootloader/common/*.eep
Firmware/Atmel-DFU-Bootloader/common/*.dbg
*/iar/Debug/*
*/iar/Release/*
